@import "./variables";

$diameter: 1.2rem;
$side-space: -3rem;
$move-duration: 0.5s;

.main-title {
  margin: 0 auto 8rem;
  padding: 1rem 2rem;
  font-size: 3rem;
  text-transform: capitalize;
  border: 0.2rem solid $black-color;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: $transition-timing;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: $diameter;
    height: $diameter;
    background-color: $primary-color;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: $side-space;
  }

  &::after {
    right: $side-space;
  }

  &:hover::before {
    z-index: -1;
    animation: left-circle $move-duration linear forwards;
  }

  &:hover::after {
    z-index: -1;
    animation: right-circle $move-duration linear forwards;
  }

  &:hover {
    color: $white-color;
    border-color: $white-color;
    transition-delay: $move-duration;
  }
}

@keyframes left-circle {
  50% {
    left: 0;
    width: $diameter;
    height: $diameter;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-circle {
  50% {
    right: 0;
    width: $diameter;
    height: $diameter;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
