* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Cairo", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  margin-inline: auto;
  padding-inline: 1.5rem;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 1rem #ddd;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header__logo {
  color: #2196f3;
  font-size: 2.6rem;
  font-weight: bold;
  height: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header__logo {
    width: 100%;
    height: 5rem;
  }
}
.header__nav {
  display: flex;
}
@media (max-width: 767px) {
  .header__nav {
    margin: auto;
  }
}
.header__item:hover .header__mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 0.1rem);
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.2rem;
  position: relative;
  color: #000;
  padding-inline: 3rem;
  overflow: hidden;
  transition: 0.3s;
}
.header__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: #2196f3;
  top: 0;
  left: -100%;
  transition: 0.3s;
}
.header__link:hover {
  color: #2196f3;
  background-color: #fafafa;
}
.header__link:hover::before {
  left: 0;
}
@media (max-width: 767px) {
  .header__link {
    padding: 1rem;
    font-size: 1.4rem;
    height: 4rem;
  }
}
.header__mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 3rem;
  background-color: #fff;
  border-bottom: 3px solid #2196f3;
  display: flex;
  gap: 4rem;
  top: calc(100% + 5rem);
  z-index: -1;
  opacity: 0;
  transition: top 0.3s, opacity 0.3s;
}
@media (max-width: 767px) {
  .header__mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 0.5rem;
  }
}
@media (max-width: 991px) {
  .header__mega-menu-image {
    display: none;
  }
}
.header__mega-menu-image > img {
  max-width: 100%;
}
.header__mega-menu-list {
  min-width: 22rem;
  flex: 1;
}
@media (max-width: 767px) {
  .header__mega-menu-list:first-of-type > li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header__mega-menu-item {
  position: relative;
}
.header__mega-menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fafafa;
  z-index: -1;
  transition: 0.3s;
}
.header__mega-menu-item:hover::before {
  width: 100%;
}
.header__mega-menu-item:not(:last-child) {
  border-bottom: 0.1rem solid #e9e6e6;
}
.header__mega-menu-link {
  color: #2196f3;
  display: block;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.header__mega-menu-link > i {
  margin-right: 1rem;
}

.main-title {
  margin: 20rem auto;
  padding: 1rem 2rem;
  font-size: 3rem;
  text-transform: capitalize;
  border: 0.2rem solid #000;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.main-title::before, .main-title::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #2196f3;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -3rem;
}
.main-title::after {
  right: -3rem;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-circle 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-circle 0.5s linear forwards;
}
.main-title:hover {
  color: #fff;
  border-color: #fff;
  transition-delay: 0.5s;
}

@keyframes left-circle {
  50% {
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-circle {
  50% {
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
.main-title {
  margin: 20rem auto;
  padding: 1rem 2rem;
  font-size: 3rem;
  text-transform: capitalize;
  border: 0.2rem solid #000;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.main-title::before, .main-title::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #2196f3;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -3rem;
}
.main-title::after {
  right: -3rem;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-circle 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-circle 0.5s linear forwards;
}
.main-title:hover {
  color: #fff;
  border-color: #fff;
  transition-delay: 0.5s;
}

@keyframes left-circle {
  50% {
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-circle {
  50% {
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
.section-landing {
  position: relative;
}
.section-landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.section-landing__container {
  min-height: calc(100vh - 7.2rem);
  display: flex;
  align-items: center;
  padding-bottom: 12rem;
}
.section-landing__text {
  flex: 1;
}
@media (max-width: 991px) {
  .section-landing__text {
    text-align: center;
  }
}
.section-landing__heading {
  font-size: 4rem;
  letter-spacing: -0.2rem;
}
@media (max-width: 767px) {
  .section-landing__heading {
    font-size: 2.8rem;
  }
}
.section-landing__description {
  font-size: 2.4rem;
  line-height: 1.7;
  margin-top: 0.5rem;
  color: #666;
  max-width: 50rem;
}
@media (max-width: 767px) {
  .section-landing__description {
    font-size: 1.8rem;
  }
}
@media (max-width: 991px) {
  .section-landing__description {
    margin: 1rem auto;
  }
}
.section-landing__image > img {
  width: 60rem;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .section-landing__image > img {
    display: none;
  }
}
.section-landing__arrow {
  color: #2196f3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  transition: 0.3s;
}
.section-landing__arrow:hover {
  color: #1787e0;
}
.section-landing__arrow > i {
  animation: bounce 1.5s infinite;
}

@keyframes up-and-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -5rem;
  }
}
@keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-1.5rem);
  }
}/*# sourceMappingURL=style.css.map */